html, body, .app{
  height: 100vh;
  background-color: #eee;
  padding: 0rem;
}

.message_self{
  border-left: 2px solid orange;
  padding-left: 7px;
}

.message_other{
  border-left: 2px solid rgb(37, 125, 240);
  padding-left: 7px;
}